#sound {
  color: white;
}

#stash {
  color: #DB1D40;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px auto;
}

.App-container {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  flex-flow: column;
}