#social-media-list {
    text-decoration: none;
    list-style: none;
}

.App-Footer {
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 20px 50px;
    background: #191315;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #74676A;
    flex: 0 0 auto;
}

.social-media-link a {
    color: #74676A;
}

.social-media-link {
    padding-left: 30px;
    display: inline-block;
}

.social-media-link a:hover {
    color: #DB1D40;
}

#footer-text {
    font-size: 0.8em;
}
