.search-box-container {
	width: 100%;
	position: relative;
}

#search-box {
    width: 100%;
    border: none;
    background-color: #322427;
    height: 50px;
    padding: 0 60px;
    font-family: 'Roboto';
    font-size: 0.9em;
    color: white;
}

#search-box:focus, #search-box.has-value {
	outline: none;
	background-color: #DB1D40;
}

#search-box-form i.fa {
    color: #DB1D40;
    position: absolute;
    padding: 16px 20px;
    top: 0;
}

#search-box-icon {
    left: 0;
}

#search-box-clear {
    right: 0;
    cursor: pointer;
}

#search-box:focus ~ i.fa, #search-box.has-value ~ i.fa {
	color: #231B1D;
}