#songs-list {
    padding: 0;
    list-style-type: none;
    margin: 0 0 20px;
}

.song-wrapper {
	height: 80px;
	position: relative;
}

.song-container {
	position: relative;
	height: 100%;
    display: flex;
    background-color: #322427;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -1px 0 #231B1D inset;
    padding: 0 5%;
    z-index: 2;
    transition: transform 0.3s;
}

.song-wrapper:hover .song-container {
	background-color: #231B1D;
	box-shadow: 5px 0 0 #DB1D40 inset;
	transform: translateX(-100px);
}

.song-thumbnail {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 5%;
}

.song-info-container {
    flex: 5;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.download-icon-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    max-width: 80px;
    min-width: 30px;
    color: #74676A;
}

.song-wrapper:hover .download-icon-container{
	color: #DB1D40;
}

.song-title {
    color: white;
    font-size: 0.8em;
    margin: 10px 0 5px 0;
}

.song-channel-name {
    font-size: 0.7em;
    margin: 0;
    text-transform: uppercase;
    color: #74676A;
}

.song-dload-links {
	height: 100%;
	width: 100px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.song-dload-links a {
	height: 40px;
	display: flex;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
	color: white;
	text-decoration: none;
	font-size: 0.7em;
}

.audio-dload-link {
	background-color: #74676A;
}

.video-dload-link {
	background-color: #685B5E;
}