#ssaudio-container {
	width: 100%;
	height: 150px;
}

#ssaudio-image-container {
	height:100%;
	background-position-y: 40%;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
    justify-content: center;
    align-items: center;
    background-color: #231b1d;
    background-blend-mode: luminosity;
}

#ssaudio-image-container i {
	color: #DB1D40;
	position: absolute;
}

#ssaudio-progress {
	height: 100%;
	background-color: #DB1D40;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.2;
	transition: width 0.2s;
}