.ytpreview-iframe {
	max-width: 100%;
	display: block;
	margin: 0px auto;
}

.song-ytpreview {
    background-color: black;
    padding: 15px 0;
    display: block;
}

@media screen 
  and (max-device-width: 800px) {
  	.song-ytpreview {
	    padding: 0;
	}
  }